{% extends 'layout.html' %}

{% block content %}
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Summaries</a>

      </form>
    </div>
  </nav>

</div>

<style>
    
    .form {
        margin: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    

    }

    .input {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 350px;
        margin-right: 350px;

        
    }

    .summaries {
        margin: 20px;
    }

    .card {
        margin: 10px;
    }
        
    .load-container {
        display: none;
        bottom: 85%;
        left: 60%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .loading {
        border: 6px solid #ccc;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border-top-color: gold;
        border-left-color: gold;
        animation: spin 1s infinite ease-in-out;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(1080deg)
        }
    }

</style>

<div class="container">

    <center>
    <div class="input">
        <form action="/update" method="POST">

            <input type="text" name="url" placeholder="URL">
            <br>
            
            <input type="text" name="keywords" placeholder="Keywords">
            <br>
            
            <input type="text" name="num" placeholder="scan # articles">
            <br>
            
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </center>
        </form>

    </div>

    
    </center>


    <div class="load-container">
        <div class="loading">

        </div>
    </div>

    <div class="summaries">

        {% for item in range(msg | length) %}
            <div class="alert alert-secondary" role="alert">
                {{msg}}
            </div>
        {% endfor %}
        
        {% for index in range(article_list | length)%}
            
            <div class="card text-center" style="width: 100rvw;">
                <div class="card-body">
                <h5 class="card-title">{{ title[index] }}</h5>
                <p class="card-text">{{ article_list[index] }}</p>

                <p class="card-text">{{ authors[index] }}</p>
                
                <p class="card-text">Posted: {{ date[index] }}</p>
                <a href="{{ link[index] }}" class="btn btn-primary">Link</a>
                </div>
            </div>

        {% endfor %}


    </div>
    
</div>

<script>
    let loadContainer = document.querySelector('.load-container');

    document.getElementById("submit").addEventListener("click", function() {
        loadContainer.style.display = 'block';
    })

    // window.addEventListener('load', function() {
    //     loadContainer.style.display = 'none';
    // })

</script>

{% endblock %}
