{% extends 'layout.html' %}

{% block content %}

<style>
        
    .load-container {
        display: none;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .loading {
        border: 6px solid #ccc;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border-top-color: gold;
        border-left-color: gold;
        animation: spin 1s infinite ease-in-out;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(1080deg)
        }
    }

</style>

<center><h1>Summaries</h1>
<br>
<form action="/update" method="POST">

<input type="text" name="url" placeholder="URL">
<br>

<input type="text" name="keywords" placeholder="Keywords">
<br>

<input type="text" name="num" placeholder="scan # articles">
<br>

<button type="submit" id="submit" class="btn btn-warning">Submit</button>
</center>
</form>


<div class="load-container">
    <div class="loading">

    </div>
</div>

<div class="summaries">
    {{msg}}
    <ol>
    {% for index in range(article_list | length)%}

        <li>

            <h5>{{ title[index] }}</h5>
            <a href='{{ link[index] }}'> Link </a>
            <p> {{ authors[index].text }} </p>
            <p>Posted: {{ date[index] }}</p>
            <p> {{ article_list[index] }} </p>

        </li>

        
    {% endfor %}
    </ol>

</div>

<script>
    let loadContainer = document.querySelector('.load-container');

    document.getElementById("submit").addEventListener("click", function() {
        loadContainer.style.display = 'block';
    })

    // window.addEventListener('load', function() {
    //     loadContainer.style.display = 'none';
    // })

</script>

<!-- 
<a href="/delete" class="btn btn-secondary">Delete</a>
<a href="/edit" class="btn btn-secondary">Edit</a> -->

{% endblock %}
